/* Colors as variables */
:root {
    /* HTML5 Boilerplate */
    --selection: hsla(213, 92%, 85%, 1);
    /* Bootstrap */
    --text: hsla(210, 2%, 11%, 1);
    /* colors.css v0.2.0 */
    --navy: hsla(216, 100%, 16%, 1);
    --blue: hsla(225, 100%, 42%, 1);
    --aqua: hsla(187, 100%, 49%, 1);
    --teal: hsla(180, 100%, 40%, 1);
    --olive: hsla(147, 100%, 34%, 1);
    --green: hsla(114, 100%, 38%, 1);
    --lime: hsla(68, 100%, 44%, 1);
    --yellow: hsla(48, 100%, 50%, 1);
    --orange: hsla(24, 100%, 50%, 1);
    --red: hsla(355, 100%, 46%, 1);
    --maroon: hsla(358, 100%, 14%, 1);
    --fuchsia: hsla(319, 100%, 50%, 1);
    --purple: hsla(262, 100%, 50%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --silver: hsla(0, 0%, 47%, 1);
    --gray: hsla(0, 0%, 20%, 1);
    --gray-900: hsla(190, 16%, 93%, 1);
    --gray-700: hsla(205, 8%, 71%, 1);
    --gray-500: hsla(180, 6%, 45%, 1);
    --gray-300: hsla(183, 8%, 55%, 1);
    --gray-100: hsla(0, 0%, 13%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --moon-gray: hsla(0, 0%, 80%, 1);
    /* My colors */
    --whitesmoke: hsla(0, 0%, 96%, 1);
    /* My styles */
    --measure-width: 36rem;
    --measure-width-midprose: calc(var(--measure-width)*0.7);
    --width: calc(var(--measure-width)/16);
    --width-1-2: calc(var(--width)/2);
    --width-1-4: calc(var(--width)/4);
    --width-1-5: calc(var(--width)/5);
    /* Thanks to Inter by https://rsms.me/ */
    --sans-serif: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --inter: Inter, sans-serif;
    --serif: 'Times New Roman', Times, serif;
    --inter-font-feature-settings: 'liga'1, 'calt'1;
    /* fix for Chrome */
    --font-size: 1rem;
    --font-size-italic: 1.05rem;
    --font-size-monospace: calc(var(--font-size)*0.85);
    --roboto-mono: 'Roboto Mono', monospace;
    --fw0: 400;
}

html,
body {
    /* For WebKit (Chrome, Safari) */
    -webkit-font-smoothing: subpixel-antialiased;
    /* For Firefox */
    font-smoothing: antialiased;
    /* For Edge */
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: var(--text);
    font-family: var(--serif);
    font-size: 1rem;
    line-height: 1.5rem;
}

.text {
    color: hsla(210, 10%, 23%, 1);
}

.navy {
    color: hsla(216, 100%, 16%, 1);
}

.blue {
    color: hsla(225, 100%, 42%, 1);
}

.aqua {
    color: hsla(187, 100%, 49%, 1);
}

.teal {
    color: hsla(180, 100%, 40%, 1);
}

.olive {
    color: hsla(147, 100%, 34%, 1);
}

.green {
    color: hsla(114, 100%, 38%, 1);
}

.lime {
    color: hsla(68, 100%, 44%, 1);
}

.yellow {
    color: hsla(48, 100%, 50%, 1);
}

.orange {
    color: hsla(24, 100%, 50%, 1);
}

.red {
    color: hsla(355, 100%, 46%, 1);
}

.maroon {
    color: hsla(358, 100%, 14%, 1);
}

.fuchsia {
    color: hsla(319, 100%, 50%, 1);
}

.purple {
    color: hsla(262, 100%, 50%, 1);
}

.white {
    color: hsla(0, 0%, 100%, 1);
}

.silver {
    color: hsla(0, 0%, 47%, 1);
}

.gray {
    color: hsla(0, 0%, 20%, 1);
}

.black {
    color: hsla(0, 0%, 0%, 1);
}

.moon-gray {
    color: hsla(0, 0%, 80%, 1);
}

.whitesmoke {
    color: hsla(0, 0%, 96%, 1);
}

.gray-900 {
    color: var(--gray-900);
}

.gray-700 {
    color: var(--gray-700);
}

.gray-500 {
    color: var(--gray-500);
}

.gray-300 {
    color: var(--gray-300);
}

.gray-100 {
    color: var(--gray-100);
}

.bg-gray-900 {
    color: var(--gray-900);
}

.bg-gray-700 {
    color: var(--gray-700);
}

.bg-gray-500 {
    color: var(--gray-500);
}

.bg-gray-300 {
    color: var(--gray-300);
}

.bg-gray-100 {
    color: var(--gray-100);
}

.bg-text {
    background-color: hsla(210, 10%, 23%, 1);
}

.bg-navy {
    background-color: hsla(216, 100%, 16%, 1);
}

.bg-blue {
    background-color: hsla(225, 100%, 42%, 1);
}

.bg-aqua {
    background-color: hsla(187, 100%, 49%, 1);
}

.bg-teal {
    background-color: hsla(180, 100%, 40%, 1);
}

.bg-olive {
    background-color: hsla(147, 100%, 34%, 1);
}

.bg-green {
    background-color: hsla(114, 100%, 38%, 1);
}

.bg-lime {
    background-color: hsla(68, 100%, 44%, 1);
}

.bg-yellow {
    background-color: hsla(48, 100%, 50%, 1);
}

.bg-orange {
    background-color: hsla(24, 100%, 50%, 1);
}

.bg-red {
    background-color: hsla(355, 100%, 46%, 1);
}

.bg-maroon {
    background-color: hsla(358, 100%, 14%, 1);
}

.bg-fuchsia {
    background-color: hsla(319, 100%, 50%, 1);
}

.bg-purple {
    background-color: hsla(262, 100%, 50%, 1);
}

.bg-white {
    background-color: hsla(0, 0%, 100%, 1);
}

.bg-silver {
    background-color: hsla(0, 0%, 47%, 1);
}

.bg-gray {
    background-color: hsla(0, 0%, 20%, 1);
}

.bg-black {
    background-color: hsla(0, 0%, 0%, 1);
}

.bg-moon-gray {
    background-color: hsla(0, 0%, 80%, 1);
}

.bg-whitesmoke {
    background-color: hsla(0, 0%, 96%, 1);
}

.nolist {
    list-style: none;
    padding: 0;
}

main {
    flex: 1;
}

h5 {
    color: var(--silver);
    font-style: italic;
    margin: 0 0 1rem 0;
}

.container {
    padding: 1rem 2rem;
}

.img {
    max-width: 16rem;
}

.page {
    min-height: 100vh;
}

main {
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

nav ul li {
    margin: 0 1rem 0 0;
}

.untitleds {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

.untitleds li {
    margin: 0 1rem 0 0;
}

.navlist,
.navlist.stanger li ul {
    columns: 2;
    /* Number of columns */
    column-gap: 1rem;
    /* Gap between columns */
    list-style: none;
    /* Optional: remove bullet points */
    padding: 0;
    /* Optional: remove padding */
    margin: 0;
}

.navlist.stranger li {
    padding: 1rem 1rem 0 0;
}

.navlist li {
    padding: 1rem 1rem 0 0;
}

.inline {
    display: inline;
}

.center {}

.flex {
    display: flex;
    flex-direction: row;
}

.spread {
    justify-content: space-between;
}

.flexc {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0;
    line-height: inherit;
}

h3,
h4,
h5 {
    font-size: 1rem;
}

h2 {
    margin: 1rem 0 1rem 0;
}

h3, h4 {
    margin: 1rem 0 0.5rem 0;
}

.poem h5 {
    color: var(--silver);
    font-style: italic;
    margin: 0 0 0.75rem 0;
    font-size: 1.05rem;
}

h4+h5 {
    margin: 0 0 1rem 0;
}

h5 {
    color: var(--gray-500);
    font-style: italic;
    margin: inherit;
    font-size: 1.05rem;
}

h6 {
    font-size: 1rem;
}

.stanza {
    margin: 0 0 1rem 0;
}

.stanza.prose {
    margin: 0 0 0 0;
    text-indent: 3rem;
}

.stanza.prose:first-of-type {
    text-indent: 0;
}

.stanza.prose:last-of-type {
    margin: 0 0 1rem 0;
}

.stanza.prose+h5 {
    margin: 1rem 0 1rem 0;
}

.fragment-break+.stanza.prose {
    text-indent: 0;
    margin: 0 0 1rem 0;
}


.poem {
    margin: 0 0 1rem 0;
}

.tab-space {
    display: inline-block;
    line-height: 0;
    width: 0;
}

.measure {
    max-width: var(--measure-width);
}

.w0 {
    width: 0;
}

.w1 {
    width: 2em;
}

.w2 {
    width: 4em;
}

.w3 {
    width: 6em;
}

.w4 {
    width: 8em;
}

h4+h5 {
    width: 16em;
}

a {
    color: var(--blue);
}

a:visited {
    color: var(--navy);

}

a:hover {
    filter: brightness(2.2);

}

a:active {
    color: var(--aqua);

}

cite {
    font-style: normal;

}

.in-item-note {
    line-height: 1.15em;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: block;
    position: relative;
    width: 24em;
    background-color: hsla(61, 100%, 88%, 1);
    font-size: 0.8em;
    font-family: var(--inter);
    /* Adjust as needed */
}

.in-item-note::before {
    content: "\002A";
    position: absolute;
    left: 0.25rem;
    top: 0.7rem;
}

.fragment-break {
    width: calc(var(--measure-width)/5);
    text-align: center;
    margin: 0 0 1rem 0;
}

.fragment-break::before {
    content: "\2042";
}

.section-break {
    width: calc(var(--measure-width)/5);
    text-align: center;
}

.section-break::before {
    content: "\002A\2003\002A\2003\002A";
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list ul {
    list-style-type: disc;
    padding: 0 0 0 2rem;
}

.skills-list ul ul {
    list-style-type: circle;
}

.skills-list ul ul ul {
    list-style-type: square;
}

.mt1 {
    margin-top: 1rem;
}

.mb1 {
    margin-bottom: 1rem;
}

aside.notes {
    font-size: 0.8rem;
    border: var(--moon-gray) 0.0625rem solid;
    max-width: 30rem;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

aside.notes+.top {
    margin: 1rem 0 0 0;
}

.sc {
    font-variant: small-caps;
}

.level * {
    margin: 0 1rem 0 0;
}

.sans-serif {
    font-family: var(--sans-serif);
}

.inter {
    font-family: var(--inter);
    font-feature-settings: var(--inter-font-feature-settings);
}

.roboto-mono {
    font-family: var(--roboto-mono);
}


@supports (font-variation-settings: normal) {
    .inter {
        font-family: InterVariable, sans-serif;
    }
}

span.inter {
    font-size: 0.9rem;
    line-height: 0;
}

.stanza blockquote {
    border: none;
}

blockquote {
    padding: 0;
    margin: 1rem 0 1rem 3rem;
}

.fleuron {
    font-size: 2rem;
    color: var(--gray-700);
}

.emdash {
    display: inline-block;
    width: var(--width-1-2);
    background: var(--text);
    height: 0.0625em;
    /* Rem/em conversion: 1/16 */
    line-height: 0;
    vertical-align: 0.25em;
    /* Rem/em conversion: 4/16 */
}

sup,
sub {
    font-family: var(--inter);
    font-size: var(--width-1-4);
    font-weight: 300;
    line-height: inherit;
    /* Rem/em conversion: 3/16 */
    vertical-align: 0.1875em;
    /* Rem/em conversion: 1/16 */
    margin: 0 0 0 0.0625em;

}

.disabled-link {
    pointer-events: none;
    /* Prevents clicking on the link */
    color: var(--gray-500);
    /* Changes the color to indicate it's disabled */
    text-decoration: none;
    /* Removes underline */
    cursor: default;
    /* Changes the cursor to the default arrow */
}

.midprose {
    max-width: var(--measure-width-midprose);
}

time {
    display: block;
}

.light {
    font-weight: 300;
}

.tabular-nums {
    font-variant-numeric: tabular-nums;
}

.bucket-list-item .number {
    font-family: Inter;
    font-variant-numeric: tabular-nums;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.stanza.inter+p:nth-of-type(3) {
    display: table-cell;
    line-height: inherit;
    margin: 1rem 0 0 0;
    min-width: 10rem;
}

p:nth-of-type(1)+.stanza.inter {
    display: table-cell;
    line-height: inherit;
    margin: 1rem 0 0 0;
    vertical-align: middle;
    width: 4rem;
    text-align: center;
}

p:nth-of-type(3)+.stanza.inter {
    display: table-cell;
    line-height: inherit;
    margin: 1rem 0 0 0;
    vertical-align: middle;
    width: 2rem;
    text-align: center;
}

p:nth-of-type(3)+.stanza.inter+p {
    margin: 1rem 0;
}

.greek {
    color: var(--maroon);
}

.none {
    line-height: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: inherit;
}

.alternate-version {
    margin: 0 0 1rem 0;
}

.alt, .alt-2 {
    font-style: italic;
    font-family: baskerville;
    font-weight: 400;
    color: var(--gray-300);
    display: inline-block;
    padding: 0 0 1rem 0;
}

.alt::before, .alt-2::before {
    content: "~\2003";
}

.alt-2::after {
    content: "\2003~";
}

.asterisk {
    text-align: left;
    display: inline-block;
}

aside.notes ul {
    list-style: none;
    list-style-position: outside;
    padding: 0 0 0 1rem;
}

aside.notes ul li {}

aside.notes ul li::before {
    content: "* ";
}

code {
    font-size: var(--font-size-monospace);
    font-family: Roboto mono;
    color: var(--maroon);
}


var {
    display: block;
    font-style: normal;
    font-family: Iosevka-Custom-Extended, Roboto mono, monospace;
    color: var(--fuchsia);
}

.roboto,
.stanza .roboto {
    font-style: normal;
    font-family: Roboto mono;
    color: var(--gray-500);
    line-height: 0;
}

.allusion p {
    margin: 0 0 1rem 0;
    font-style: italic;
    font-size: var(--font-size-italic);
}

.allusion p:last-of-type {
    margin: 0;
}

blockquote.allusion {
    max-width: 24rem;
}

blockquote.allusion.invocation {
    margin: 0;
}

blockquote.allusion cite {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

blockquote.allusion ul.citation {
    font-size: 1.05rem;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
    width: 100%;
    text-align: right;
}

blockquote.allusion ul.citation li {
    display: inline-block;
}

.fantasy-header {
    display: grid;
    grid-template-columns: 1fr auto;
    /* First column takes up all available space, second column auto-sizes */
    width: 100%;
    /* Ensure the container takes the full width */
    grid-row-gap: 0.5rem;
    margin: 0 0 1rem 0;
}

.fantasy-header .allusion {
    grid-column: 2;
    width: 24rem
        /* Place the item in the second column */
}

.allusion cite {
    font-style: normal;
    font-family: Inter, sans-serif;
    font-size: 0.8em;
    padding: 0;
    margin: 0.25rem 0 0 2rem;
    display: block;
    font-variant-numeric: tabular-nums;
    color: var(--gray-500);
}

.topbar {
    /* Rem/em conversion: 1/16 */
    border-bottom: 0.0625em var(--gray-700) solid;
}

.bucket-list {
    /* Rem/em conversion: 1/16 */
    border: 0.0625em solid var(--gray-700);
    list-style: none;
    padding: 0;
}

.bucket-list-item {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

.bucket-list-item ul {
    /* Rem/em conversion: 1/16 */
    border: 0.0625em solid var(--fuchsia);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    list-style: none;
}

.bucket-list li p {
    margin: 0;
}

.indent {
    margin: 0 0 0 2rem;
}

.trapdoor {
    /* display: inline-block;*/
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0;
    /* background-color: var(--gray-900);*/
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list.titles {
    list-style: none;
    padding: 0 0 0 2rem;
    margin: 0;
}

.specimen {
    padding: 2rem 0;
    margin: 0;
}

.specimen p {
    margin: 0;
}

.specimen {
    margin: 0;
    border: 0.0625em solid var(--gray-700);
    /* Rem/em conversion: 1/16 */
    padding: 1rem;
    margin: 1rem 0 0 0;
    border-radius: 0.125rem;
}

.specimen figcaption {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.75rem;
}

.typeface {
    display: block;
    margin: 1rem 0;
    padding: 0;
}

.glossary {
    display: grid;
    grid-template-columns: 4rem 1fr;
    font-family: var(--inter);
    font-variant-numeric: tabular-nums;
    font-size: 90%;
}

.mx05 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

em {
    font-size: 103%;
    line-height: 0;
}

.specimen-content {
    padding: 2rem 0;
}

.color-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0.5rem;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolio-grid div {
    padding: 1rem;
    max-width: 20vw;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

@media (max-width:62.5em) {

    /* Rem/em conversion: 1000/16 */
    .portfolio-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .portfolio-grid div {
        padding: 1rem;
    }
}

@media (max-width:46.875em) {

    /* Rem/em conversion: 750/16 */
    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }

    .portfolio-grid div {
        padding: 1rem;
        max-width: 100%;
    }

    .columns {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 35.5em) {

    /* Rem/em conversion: 568/16 */
    .color-grid {
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .portfolio-grid div {
        padding: 1rem;
    }
}

@media (max-width: 21.1875em) {

    /* Rem/em conversion: 339/16 */
    .color-grid {
        grid-template-columns: 1fr;
    }
}

.color .swatch {
    height: 2rem;
    width: 4rem;
}

.color {
    line-height: 0;
}

.color .swatch,
.color .swatch-caption {
    display: inline-block;
}

.color .swatch-caption {
    font-family: var(--sans-serif);
    font-size: 0.7rem;
    vertical-align: 0.6875em;
    /* Rem/em conversion: 11/16 */
}

.asterism {
    display: block;
    line-height: 1;
    height: 2rem;
}

.asterism::before {
    font-family: var(--sans-serif);
    content: "* * *";
    color: var(--gray-500);
}

.sneaky-link {
    text-decoration: none;
    color: var(--gray-700);
}

.spacer {
    display: inline-block;
    line-height: inherit;
    width: 2rem;
}

.minigrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
}

.mg-1 {
    font-size: 2rem;
}

.line {
    display: block;
}

.dialog {
    max-width: 20em;
}

.them {
    text-align: left
}

.me {
    text-align: right;
    color: var(--red);
}

.old-school {
    text-decoration: none;
    text-wrap: nowrap;
}

a.old-school::before {
    content: "[";
    color: var(--text);
    font-family: Inter;
    text-decoration: none;
    font-weight: 300;
    line-height: 0;
}

a.old-school::after {
    content: "]";
    color: var(--text);
    font-family: Inter;
    text-decoration: none;
    font-weight: 300;
    line-height: 0;
}

.categories li {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: 0.0625rem solid var(--gray-700);
    /* Rem/em conversion: 1/16 */
}

.no-underline {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.m0 {
    margin: 0;
}

.lh0 {
    line-height: 0;
}

.lhi {
    line-height: inherit;
}

.subitems {
    width: 100%;
}

/* Tooltip */

/* Simple styling for tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 20rem;
    background-color: hsla(0, 0%, 97%, 1);
    color: var(--text);
    text-align: left;
    border-radius: 0.25rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    /* Show above the element */
    left: 50%;
    /* Rem/em conversion: 60/16 */
    margin-left: -3.75rem;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-family: Inter, sans-serif;
    font-size: 0.7rem;
    /* Rem/em conversion: 1/16 */
    border: 0.0625em solid var(--text);
    line-height: 1.5;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.list-break {
    width: 100%;
}

table,
tr,
thead,
tfoot,
tbody,
td,
th {
    margin: 0;
    padding: 0;
    line-height: inherit;
    border: none;
    border-collapse: collapse;
}

td {
    padding: 0.5rem;
}

.resume address {
    font-style: normal;
}

.resume address ul {
    list-style: none;
    margin:0;
    padding:0;
}

.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume h5,
.resume h5 {
    font-size: inherit;
}

.resume h2 {
    font-variant: small-caps;
    font-size: 1.2rem;
    text-align: center;
}

.i1 {
    text-indent: 1rem;
    margin-left: 2rem;
}

ul.introduction.novel li {
    margin-bottom: 1rem;
}



.fw400 {
    font-weight: 400;
}

.fw700 {
    font-weight: 700;
}

.fw300 {
    font-weight: 300;
}

.my4 {
    margin: 4rem 0;
}

.lh-copy {
    line-height: 1.5;
}